body {
  background-image: url(assets/annonce\ concept.png);
  background-repeat: no-repeat;
  background-size: cover;  
  margin: 0px; 
  overflow: hidden;
}
button{
  border: 1px solid white;
  width: 1000px;
  height: 180px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 1520px;
  opacity: 0;
}

